language: node_js

node_js:
  - 14

install:
  - npm install -g typescript
  - npm install

script:
  - echo node_modules > .gitignore
  - npx eslint src
  - npm run build

deploy:
  skip_cleanup: true
  provider: npm
  email: techsweave@gmail.com
  api_key: $NPM_TOKEN
  local_dir: dist
  on:
    branch: main

branches:
  only:
    - main